.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url('https://i.redd.it/i-made-all-the-stars-so-they-are-not-cut-off-call-me-if-you-v0-2i5f5945wm571.png?width=4959&format=png&auto=webp&s=9dddb4b3d4126c4e620dd65a15f4d7958b0f1cbb');
  background-size: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav {
    display : flex

  }

ul {   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    display: flex;
    border-radius: 20px; 
   flex-direction: row;
    justify-content:space-evenly;
    position: relative; /* z-index only works if position is set */
    z-index: 10;
    width: 1000px;
    height: 5px;
    list-style-type: none;
    align-items: center;
   background-color: #c59b6d;
    width: 1000px; height: 85px;opacity: 70%;
}

p {
 font-family: "Permanent Marker";
 color: peru;
 background-color: azure;
width: 100px;
display: block;
  margin: 0 auto;

}

img {

  width: 500px;
  display: block;
  margin: 0 auto;
}
#logo {
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly; 
  position: absolute; /* Breaks free from container limits */
  top: 9px; /* Positions it exactly 10px from the top of the page */
  left: 400px;
  z-index: 10; 
  height: 120px;
  width: 120px ;

}